table{
    text-align:center;
}
td{
    background-color: #f7e2a8;
    
}
th{
    padding: 10px 20px 20px;
}
th[scope="col"] {
    background-color: #f0eded;
    color: #;
}
th[scope="row"] {
    background-color: #f0eded;
    color: #;
}
.blue-bg {
  background: #34c0eb;
}
.purple-bg {
  background: #eb34c3;
}
.orange-bg {
  background: #eba434;
  color: #4f7a42;
}
@media (hover: hover) {
  a:hover {
    background: orangered;
  cursor: pointer;
  }
}